:root {
  color-scheme: dark;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

header{
    padding: 20px;
    border-bottom: 2px solid;
    font-size: 40px;
    font-weight: bold;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-bottom: 2px solid;
    margin-bottom: 4px;
}

nav a{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    color: white;
    align-self: center;
}

nav a:hover{
    color: black;
    background-color: white;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
}

nav a.current{
    color: black;
    background-color: white;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
}

.resume{
    text-align: center;
}

footer{
    border-top: 2px solid;
    line-height: 1px;
}

